# ─── Firebase Configuration (Sudah terhubung ke portfolio-stats-223c9) ───
VITE_FIREBASE_API_KEY=AIzaSyDsti-1UNGkEBHEsdlM2RkfVZmRoIYiqgY
VITE_FIREBASE_AUTH_DOMAIN=portfolio-stats-223c9.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portfolio-stats-223c9
VITE_FIREBASE_STORAGE_BUCKET=portfolio-stats-223c9.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=146483946758
VITE_FIREBASE_APP_ID=1:146483946758:web:98828ad3066a76e4c8aa87
VITE_FIREBASE_MEASUREMENT_ID=G-GM64KHRL4W

# ─── Kode Rahasia Master Access /stats ───
# Ganti nilai di bawah ini dengan kata sandi rahasia yang Anda inginkan
VITE_STATS_PASSCODE=080712
